.main-tabs-menu {
  margin-top: 40px;

  .collapsible {

    .collapsible-body{
      padding: 10px;
    }

    a {
      color: $main-lightblue;
      font-size: 1.2rem;
      font-family: 'Oswald', sans-serif;
      font-weight: 500;

      &:hover {
        text-decoration: none;

      }
    }
  }

  .tabs {
    height: auto;
    // min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    li {
      width: 100%;
      text-align: left;
      min-height: 50px;

      &.indicator {
        display: none;
      }
    }
  }

  .tabs .tab a:hover, .tabs .tab a.active {
    background-color: rgba(3, 155, 229, 0.1);
    border-radius: 3px;
    text-decoration: none;
    // color: $main-lightblue;
  }

  .tabs .tab a {
    color: $main-lightblue;
    text-transform: none;
  }
}