{{> head}}

<body>

{{> registration-link}}

{{> header}}

{{> outer-menu}}

{{{body}}}

{{>footer}}

<script src="js/jquery/dist/jquery.min.js"></script>
<script src="js/header-medium-toggle-menu.js"></script>
<script src="js/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
<script src="js/m-carousel.js"></script>

<script src="js/materialize-css/dist/js/materialize.min.js"></script>
<script src="js/m-collapsible.js"></script>

<script src="js/m-gallery.js"></script>

<script src="js\handlebars.js"></script>

<!--<script src="js/active-product.js"></script>-->

</body>
</html>