<section class="catalogs-section">
    <div class="container">
        <div class="row">
            <h2 class="main-header">Технические каталоги TS Aluminium теплой серии для террас, веранд, зимних садов</h2>
            <div class="col m2 s6">
                <div class="card">
                    <div class="card-image">
                        <a href="source/catalogs/pdf/F_art_388_T_Veranda.pdf" target="_blank"><img
                                src="source/catalogs/img/F_art_388_T_VerandaWeb.jpg"></a>
                    </div>
                    <div class="card-content">
                        Профильные системы TS-aluminium, серия веранда
                    </div>
                </div>
            </div>

            <div class="col m2 s6">
                <div class="card">
                    <div class="card-image">
                        <a href="source/catalogs/pdf/F_art_388_T_Veranda.pdf" target="_blank"><img
                                src="source/catalogs/img/F_art_388_T_VerandaWeb.jpg"></a>
                    </div>
                    <div class="card-content">
                        Профильные системы TS-aluminium, серия веранда
                    </div>
                </div>
            </div>
            <div class="col m2 s6">
                <div class="card">
                    <div class="card-image">
                        <a href="source/catalogs/pdf/F_art_388_T_Veranda.pdf" target="_blank"><img
                                src="source/catalogs/img/F_art_388_T_VerandaWeb.jpg"></a>
                    </div>
                    <div class="card-content">
                        Профильные системы TS-aluminium, серия веранда
                    </div>
                </div>
            </div>
            <div class="col m2 s6">
                <div class="card">
                    <div class="card-image">
                        <a href="source/catalogs/pdf/F_art_388_T_Veranda.pdf" target="_blank"><img
                                src="source/catalogs/img/F_art_388_T_VerandaWeb.jpg"></a>
                    </div>
                    <div class="card-content">
                        Профильные системы TS-aluminium, серия веранда
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <h2 class="main-header">Технические каталоги TS Aluminium холодной серии для террас, веранд, зимних садов,
                навесов</h2>
            <div class="col m2 s6">
                <div class="card">
                    <div class="card-image">
                        <a href="source/catalogs/pdf/F_art_ 500 508_Veranda_izol.pdf" target="_blank">
                            <img
                                    src="source/catalogs/img/F_art__500_508_Veranda_web.jpg"></a>
                    </div>
                    <div class="card-content">
                        Профильные системы TS-aluminium, серия веранда
                    </div>
                </div>
            </div>
            <div class="col m2 s6">
                <div class="card">
                    <div class="card-image">
                        <a href="source/catalogs/pdf/F_art_ 500 508_Veranda_izol.pdf" target="_blank">
                            <img
                                    src="source/catalogs/img/F_art__500_508_Veranda_web.jpg"></a>
                    </div>
                    <div class="card-content">
                        Профильные системы TS-aluminium, серия веранда
                    </div>
                </div>
            </div>
            <div class="col m2 s6">
                <div class="card">
                    <div class="card-image">
                        <a href="source/catalogs/pdf/F_art_ 500 508_Veranda_izol.pdf" target="_blank">
                            <img
                                    src="source/catalogs/img/F_art__500_508_Veranda_web.jpg"></a>
                    </div>
                    <div class="card-content">
                        Профильные системы TS-aluminium, серия веранда
                    </div>
                </div>
            </div>
            <div class="col m2 s6">
                <div class="card">
                    <div class="card-image">
                        <a href="source/catalogs/pdf/F_art_ 500 508_Veranda_izol.pdf" target="_blank">
                            <img
                                    src="source/catalogs/img/F_art__500_508_Veranda_web.jpg"></a>
                    </div>
                    <div class="card-content">
                        Профильные системы TS-aluminium, серия веранда
                    </div>
                </div>
            </div>
            <div class="col m2 s6">
                <div class="card">
                    <div class="card-image">
                        <a href="source/catalogs/pdf/F_art_ 500 508_Veranda_izol.pdf" target="_blank">
                            <img
                                    src="source/catalogs/img/F_art__500_508_Veranda_web.jpg"></a>
                    </div>
                    <div class="card-content">
                        Профильные системы TS-aluminium, серия веранда
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>