<section class="product-section">
    <div class="container">
        <div class="row">

            <div class="col l3 m12 s12">

                <div class="main-tabs-menu">
                    <ul class="collapsible">
                        <li >
                            <a href="#">
                                <div id="active" class="collapsible-header"><br>
                                    "ТЕПЛЫЕ"</div>
                            </a>
                            <div class="collapsible-body">
                            <span>
                                <ul class="tabs ">
                                    <li class="tab"><a href="#winter-garden">Зимние сады</a></li>
                                    <li class="tab"><a href="#folding-doors">Двери "Гармошка"</a></li>
                                    <li class="tab"><a href="#sliding-doors">Двери подъемно-раздвижные</a></li>
                                </ul>
                            </span>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="collapsible-header">Неизолированные системы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="collapsible-header">Вентиляционные системы</div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col l9 m12 s12">


                <div id="winter-garden" class="product-section__main-content">
                    <h2 class="main-header">Зимний сад</h2>

                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col m4 s12"><a class="active" href="#item1">Зимний сад</a></li>
                                <li class="tab col m4 s12"><a href="#item2">Обзор типов</a></li>
                                <li class="tab col m4 s12 "><a href="#item3">Чертежи в разрезе</a></li>
                            </ul>
                        </div>

                        <div id="item1" class="col s12">
                            <p>Ogrody zimowe są specjalnością Firmy TS Polska Sp. z o.o. Charakteryzują się wysoką
                                jakością, trwałością i estetyką. W naszej pracy kierujemy się własnym doświadczeniem i
                                wiedzą oraz dbamy o satysfakcję klientów - spełniamy ich indywidualne potrzeby i
                                oczekiwania w zakresie kształtu i rea- lizacji ogrodu zimowego.</p>

                            <p>Ogrody zimowe zwiększają Państwa możliwości kontaktu z przyrodą, można z nich korzystać
                                przez cały rok - niezależnie od pory roku i pogody. Oferowana przez Firmę TS konstrukcja
                                aluminiowa jest stabilna i trwała, a nasi doradcy i projektanci dokładają wszelkich
                                starań, by dobrze pasowała do architektury budynku, tworząc harmonijną całość. Naszym
                                priorytetem jest staranne zaprojektowanie oraz wykonanie konstrukcji ogrodu zimowego,
                                tak by służył on przez długi czas.</p>

                            <p>Ogród zimowy to pomieszczenie wypełnione słońcem i roślinnością oraz specyficznym
                                klimatem. Można w nim urządzić pokój umożliwiający doskonały wypoczynek i tym samym
                                powiększyć powierzchnię mieszkalną domu. Ogrody zimowe mogą spełniać zróżnicowane
                                funkcje, np. oranżerii do uprawy ciepłolubnych gatunków roślin, czy salonu wypełnionego
                                światłem i widokiem na ogród.</p>

                        </div>

                        <div id="item2" class="col s12">

                            <div class="container-garden-type">
                                <div class="container-garden-type__item-1"></div>
                                <div class="container-garden-type__item-2"></div>
                                <div class="container-garden-type__item-3"></div>
                                <div class="container-garden-type__item-4"></div>
                                <div class="container-garden-type__item-5"></div>
                                <div class="container-garden-type__item-6"></div>
                                <div class="container-garden-type__item-7"></div>
                                <div class="container-garden-type__item-8"></div>
                                <div class="container-garden-type__item-9"></div>
                                <div class="container-garden-type__item-10"></div>
                                <div class="container-garden-type__item-11"></div>
                                <div class="container-garden-type__item-12"></div>
                                <div class="container-garden-type__item-13"></div>
                                <div class="container-garden-type__item-14"></div>
                                <div class="container-garden-type__item-15"></div>
                                <div class="container-garden-type__item-16"></div>
                                <div class="container-garden-type__item-17"></div>
                                <div class="container-garden-type__item-18"></div>
                                <div class="container-garden-type__item-19"></div>
                                <div class="container-garden-type__item-20"></div>
                                <div class="container-garden-type__item-21"></div>
                                <div class="container-garden-type__item-22"></div>
                                <div class="container-garden-type__item-23"></div>
                                <div class="container-garden-type__item-24"></div>
                                <div class="container-garden-type__item-25"></div>
                                <div class="container-garden-type__item-26"></div>
                                <div class="container-garden-type__item-27"></div>
                                <div class="container-garden-type__item-28"></div>
                                <div class="container-garden-type__item-29"></div>
                                <div class="container-garden-type__item-30"></div>
                                <div class="container-garden-type__item-31"></div>
                                <div class="container-garden-type__item-32"></div>
                                <div class="container-garden-type__item-33"></div>
                                <div class="container-garden-type__item-34"></div>
                                <div class="container-garden-type__item-35"></div>
                                <div class="container-garden-type__item-36"></div>
                                <div class="container-garden-type__item-37"></div>
                                <div class="container-garden-type__item-38"></div>
                                <div class="container-garden-type__item-39"></div>
                                <div class="container-garden-type__item-40"></div>
                                <div class="container-garden-type__item-41"></div>
                                <div class="container-garden-type__item-42"></div>
                                <div class="container-garden-type__item-43"></div>
                                <div class="container-garden-type__item-44"></div>
                                <div class="container-garden-type__item-45"></div>
                                <div class="container-garden-type__item-46"></div>
                                <div class="container-garden-type__item-47"></div>
                                <div class="container-garden-type__item-48"></div>
                                <div class="container-garden-type__item-49"></div>
                                <div class="container-garden-type__item-50"></div>
                                <div class="container-garden-type__item-51"></div>
                                <div class="container-garden-type__item-52"></div>
                                <div class="container-garden-type__item-53"></div>
                                <div class="container-garden-type__item-54"></div>
                                <div class="container-garden-type__item-55"></div>
                                <div class="container-garden-type__item-56"></div>
                                <div class="container-garden-type__item-57"></div>
                                <div class="container-garden-type__item-58"></div>
                                <div class="container-garden-type__item-59"></div>
                                <div class="container-garden-type__item-60"></div>
                                <div class="container-garden-type__item-61"></div>
                                <div class="container-garden-type__item-62"></div>
                                <div class="container-garden-type__item-63"></div>
                                <div class="container-garden-type__item-64"></div>
                                <div class="container-garden-type__item-65"></div>
                                <div class="container-garden-type__item-66"></div>
                                <div class="container-garden-type__item-67"></div>
                                <div class="container-garden-type__item-68"></div>
                                <div class="container-garden-type__item-69"></div>
                                <div class="container-garden-type__item-70"></div>
                                <div class="container-garden-type__item-71"></div>
                                <div class="container-garden-type__item-72"></div>
                                <div class="container-garden-type__item-73"></div>
                                <div class="container-garden-type__item-74"></div>
                                <div class="container-garden-type__item-75"></div>
                                <div class="container-garden-type__item-76"></div>
                            </div>

                        </div>

                        <div id="item3" class="col s12">

                            <div class="container-sectional-drawings">

                                <div class="container-sectional-drawings__item">
                                    <p><span class="main-subheader">Тип системы "Е"</span></p>
                                    <img class="responsive-img" src="source/sectional-drawings/1_ogrodyzimowe_profil_e.jpg" alt="Type E">
                                </div>

                                <div class="container-sectional-drawings__item">
                                    <p><span class="main-subheader">Тип системы "Classic"</span></p>
                                    <img class="responsive-img" src="source/sectional-drawings/2_ogrodyzimowe_profil_classic.jpg"
                                         alt="Type Classic">
                                </div>

                                <div class="container-sectional-drawings__item">
                                    <p><span class="main-subheader">Тип системы "Exclusive"</span></p>
                                    <img class="responsive-img" src="source/sectional-drawings/3_ogrodyzimowe_profil_exclusive.jpg"
                                         alt="Type Exclusive">
                                </div>

                            </div>

                        </div>

                    </div>


                </div>

                <div id="folding-doors" class="product-section__main-content">
                    <h2 class="main-header">Складывающиеся двери</h2>
                    <p>Test 2 folding doors</p>
                </div>

                <div id="sliding-doors" class="product-section__main-content">
                    <h2 class="main-header">Раздвижные двери HST</h2>
                    <p>Test 4</p>
                </div>

            </div>


        </div>

    </div>
    </div>
</section>