<div class="section-registration">
    <div class="container">
        <div class="row">

            <div class="col m3">
                <div class="section-registration__image">
                    <img class="responsive-img" src="source/registration-image/zdjecie-2.jpg" alt="reg">
                </div>
            </div>

            <div class="col m9 s12">
                <h2 class="main-header">Приветствуем в TS Aluminium!</h2>
                <p>
                    Чтобы использовать материалы из ЗОНЫ КЛИЕНТА, пожалуйста, войдите в систему или зарегистрируйтесь.
                </p>


                <div class="col offset-m3 m6 s12">
                    <ul class="tabs">
                        <li class="tab col s6"><a class="active" href="#test1">Войти</a></li>
                        <li class="tab col s6"><a href="#test2">Регистрация</a></li>
                    </ul>

                    <div id="test1" class="col s12">
                        <div class="row">
                            <form name="sing-in" class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email-sing-in" type="email" class="validate" name="email-sing-in">
                                        <label for="email-sing-in">Email</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="password-sing-in" type="password" class="validate" name="password-sing-in">
                                        <label for="password-sing-in">Пароль</label>
                                    </div>
                                </div>

                                <div class="flex-button">
                                    <button type="submit" class="btn #039be5 light-blue darken-1">Войти</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="test2" class="col s12">
                        <div class="row">
                            <form name="sing-up" class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email-sing-up" type="email" class="validate" name="email-sing-up">
                                        <label for="email-sing-up">Email</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="name-sing-up" type="text" class="validate" name="name-sing-up">
                                        <label for="name-sing-up">Имя</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="password-sing-up" type="password" class="validate" name="password-sing-up">
                                        <label for="password-sing-up">Пароль</label>
                                    </div>
                                </div>

                                <div class="flex-button">
                                    <button type="submit" class="btn #039be5 light-blue darken-1">Зарегистрироваться</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>